<nav class="navbar navbar-expand-md navbar-light navbar-bg justify-content-between">
    <a class="navbar-brand" [routerLink]="['']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['']">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/af-admin']">Admin</a>
            </li>
        </ul>
        <ng-container *ngIf="isLogged$ | async; else isNotLogged">
            <button class="btn btn-info btn-sm" (click)="logOut()">Cerrar sesion</button>
        </ng-container>
        <ng-template #isNotLogged>
            <button class="btn btn-info btn-sm" (click)="loginBtn()">Iniciar sesion</button>
        </ng-template>
    </div>
</nav>