<div class="row mt-3" *ngIf="superUser">
    <div class="col-12 text-right">
        <button class="btn btn-sm btn-success" [disabled]="!superUser" (click)="updateUsersBtn()">
            <i class="fas fa-save"></i> Guardar
        </button>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let userItem of usersList.controls; let i=index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ userItem.value.User.UserName }}
                    </mat-panel-title>
                    <mat-panel-description class="float-right" style="display: contents;">
                        <img style="width: 30px;" [src]="userItem.value.User.PhotoURL" alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        {{ userItem.value.User.UserEmail }}
                    </div>
                </div>
                <ng-container [formGroup]="userItem">
                    <div class="row" formGroupName="Permissions">
                        <div class="col-12">
                            <mat-slide-toggle formControlName="Create">Crear</mat-slide-toggle>
                        </div>
                        <div class="col-12">
                            <mat-slide-toggle formControlName="Update">Actualizar</mat-slide-toggle>
                        </div>
                        <div class="col-12">
                            <mat-slide-toggle formControlName="Delete">Borrar</mat-slide-toggle>
                        </div>
                        <!-- <div class="col-12">
                            <mat-slide-toggle formControlName="SuperUser">Super Usuario</mat-slide-toggle>
                        </div> -->
                    </div>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <h3>Logo</h3>
        <!-- <img src="src" alt=""> -->
        <button class="btn btn-sm btn-info" (click)="btnFileUpload.click()">Subir logo</button>
        <input type="file" hidden #btnFileUpload #eventFile (change)="onFileSelected($event)">
    </div>
</div>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>
<h1>Test</h1>